.lp_videoimage {
    text-align: center;
    margin: 0;
    padding: 0;
}

.lp_videoimage #lp_playbutton {
    position: absolute;
    top: 500px;
    left: 300px;
    z-index: 50;
}


.lp_videoimage #lp_playbutton img {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}
